.uploader {
  background: transparent;
  border: 1px dashed var(--accent);
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.galleryIcon {
  color: var(--accent);
}
